[Unit]
Description=stellar-core
 
[Service]
Type=simple
User=root
Restart=always
ExecStart=/usr/local/bin/stellar-core --conf /usr/local/bin/stellar-core.conf
 
[Install]
WantedBy=default.target