doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css', rel='stylesheet')
	body
		block content

	script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
	script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js')
