[Unit]
Description=Neo
 
[Service]
Type=simple
User=root
Restart=always
ExecStart=/usr/bin/dotnet /home/ubuntu/neo-cli/neo-cli.dll /rpc
 
[Install]
WantedBy=default.target