module.exports = {
  app: {
    secret: '[1)07T]z@I!H9]c_«qIærOG$P0Np10l6Î7(25µf<j@L6};ZBÄs_î;ü0=QpC[µðo}',
    port: 3000,
  },
  db: 'mongodb://localhost:27017/loom-db',
  client: {
    chainId: 'default',
    writeUrl: 'ws://68.183.20.43:46658/websocket',
    readUrl: 'ws://68.183.20.43:9999/queryws',
  },
  stardustApiUrl: 'http://68.183.20.43:3000',
};
